*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #2272FF;
}
.card1{
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 550px;
    margin: 40px 0px 0px 450px;
    box-shadow: 0 50px 50px rgb(113, 163, 224);

}
.card1 h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
}
input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    margin-left: 35px;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
}
.a1{
    text-decoration: none;
    color: #3B96EB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 120px;
    font-weight: 700;
      

}
.in:hover{
    width: 83%;
    height: 45px;
}